.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signIn__center {
  height: 30px;
  width: 39rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px grey, 0 4px 4px grey;
  padding: 300px 2rem;

  .signIn__info {
    display: flex;
    flex-direction: column;
    z-index: 2;

    .signIn__info,
    h1 {
      padding-bottom: 1.9rem;
      font-size: 30px;
      font-weight: 1000;
      padding-left: 1.3rem;
      font-family: "Times New Roman", Times, serif;
    }
    .signIn__info,
    h5 {
      font-size: 12px;
      font-family: monospace;
      font-weight: 500;
      padding-bottom: 0.9rem;
    }
    .signIn__info,
    span {
      font-size: 11px;
      color: rgb(12, 202, 12);
      font-family: monospace;
      padding-bottom: 0.9rem;
    }
  }

  .signIn__resetLink {
    display: flex;
    justify-content: end;
  }
  .signIn__resetLink,
  p {
    font-size: smaller;
    color: rgb(12, 202, 12);
  }
  .space {
    margin-top: 2rem;
  }
}
