.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ui-container {
  padding: 20px;
  box-sizing: border-box;
}

.ui-small {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mb-50 {
  margin-bottom: 50px !important;
  font-size: 1.4rem;
  text-align: center !important;
}
.form-group {
  position: relative;
}

strong {
  text-align: center;
  text-transform: uppercase;
  color: #637282 !important;
}

.social-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-btn {
  margin-top: 0.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  color: #fff !important;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  margin-right: 5px;
  border-radius: 2px;
  margin: 0px, 5px, 20px, 0px;
  padding: 8px;
  cursor: pointer;
}
.social-btn .icon-wrapper {
  margin-right: 10px;
  vertical-align: middle;
}
.social-btn .icon-wrapper i {
  font-size: 18px;
  display: inline-block;
  line-height: 1.2;
}
.social-btn .btn-text {
  letter-spacing: 0.2px;
}
.social-btn:hover {
  -webkit-box-shadow: 0 0 6px #4285f4;
  box-shadow: 0 0 6px #4285f4;
}
.social-btn:active {
  background: #1669f2;
}
.social-google-btn {
  background-color: #4285f4;
}
.social-facebook-btn {
  background-color: #3b5998;
}
.social-twitter-btn {
  background-color: #1da1f2;
}
.social-google-btn {
  background-color: #ea4335;
}
.social-facebook-btn:active,
.social-facebook-btn:hover {
  background-color: #3b5998;
}
.social-twitter-btn:active,
.social-twitter-btn:hover {
  background-color: #1da1f2;
}
.social-google-btn:active,
.social-google-btn:hover {
  background-color: #ea4335;
}
.social-instagram-btn:active,
.social-instagram-btn:hover {
  background-color: #405de6;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -ms-flex-align: center;
}

@media (max-width: 992px) {
  .container {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
