#from-our-blog .card-img-top {
  height: 250px;
  object-fit: cover;
}

#from-our-blog .badge-primary {
  margin-bottom: 1em;
}

#from-our-blog .card-body {
  padding-top: 0.75em;
}

.section-spacer {
  padding: 75px 0;
}

bg-very__gray {
  background-color: #fafafa;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 20px;
}

.section-header {
  margin-bottom: 1rem;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.lead {
  font-weight: 400;
  line-height: 29px;
}

.section-title {
  font-family: Rubik, sans-serif;
}

.row {
  display: flex;
}

#loading {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 0;
}

#loading {
  position: fixed;
  background-color: #fff;
  z-index: 10000;
}
#loading .ripple {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0.6;
}
#loading .ripple1 {
  background-color: rgba(47, 231, 177, 0.4);
}
#loading .ripple2 {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
  background-color: rgba(47, 231, 177, 0.5);
}
#loading .ripple3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  background-color: rgba(47, 91, 231, 0.6);
}
#loading .ripple4 {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
  background-color: #2f5be7;
}
@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ripple {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .section-spacer {
    padding: 80px 0;
  }
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:visited {
  background: #5a0b4d;
  cursor: pointer;
  color: #fff;
}
.mt-40 {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-lg {
  text-decoration: none;
  font-weight: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.btn-primary {
  background-color: #185a0b;
  color: #1b2733;
}
.btn {
  padding: 15px 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0;
  color: #e1e3e6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  line-height: 24px;
  font-weight: 500;
  border-radius: 2px;
  outline: none;
  font-family: Rubik, sans-serif;
}

[hidden] {
  display: none;
}

.hidden {
  display: none;
}
